.fieldRow {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;

  .inputField {
    width: 100%;
  }

  .verifyButton {
    width: 32px;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 4px;
    color: #4e4e4e;
    cursor: pointer;

    &:hover {
      color: #159AFF;
    }
  }
}

.messageRow {
  margin-bottom: 32px;
  color: #F97272;
}

.actionRow {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}