.loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: url('/images/account/signin_bg.svg') transparent;
  background-size: auto 100%;
  height: 100vh;
  align-items: center;

  .mainBox {
    width: 512px;
    margin-top: 0.1vh;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 32px;
    box-shadow: 0 2px 30px #ccc6;

    .boxTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .titleLeft {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 32px;
      }
      .titleRight {
        font-size: 14px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        gap: 8px;
        a {
          color: #6b6b6b;
          text-decoration: none;
        }
        :global(.active) {
          color: #0688eb;
        }
      }
    }

    .fieldRow {
      margin-bottom: 32px;
    }

    .captchaRow {
      margin-bottom: 32px;
    }

    .messageRow {
      margin-bottom: 32px;
      color: #F97272;
    }

    .actionRow {
      margin-bottom: 32px;
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

    .tipRow a {
      color: #159AFF;
    }
  }
}
 