.notesPage {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;

  .directoryBar {
    width: 15rem;
    flex-shrink: 0;
  }

  .notebarContainer {
    width: 15rem;
    flex-shrink: 0;
  }

  .noteViewer {
    width: 0; // 防止flex宽度被撑开
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}