.consolePage {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100%;

  .navbar {
    height: 2.5rem;
    border-bottom: #d5d5d5 solid 0.5px;
    display: flex;
    flex-direction: row;
    padding: 4px 8px;
    align-items: center;
    flex-shrink: 0;
    background-color: #F5F5F5;
  }

  .mainContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 0; // 防止页面被撑开

    .leftNav {
      width: 2.5rem;
      flex-shrink: 0;
    }

    .rightBody {
      flex: 1;
      background: #FFFFFF;
    }

  }
}