build/
.idea/
install/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
Polaris/wwwroot/assets/
Browser/debug/
Docker/bin
debug/
*.DotSettings.user
build-*/
.idea/
build/
gen/
__debug_bin
target/assets/
go.work
go.work.sum
target/bin/
.vscode/
debug/
vcpkg_installed/
bazel-*