

  <header>
    <div class="body">
      <div class="content">
        <nav role="navigation" class="AppHeader-nav"><a class="AppHeader-navItem" href="//www.zhihu.com/">首页</a><a
          class="AppHeader-navItem" href="//www.zhihu.com/explore">发现</a><a href="//www.zhihu.com/topic"
                                                                            class="AppHeader-navItem">话题</a></nav>
      </div>
    </div>
  </header>

<main>

  <div class="page-head">
    <div class="body">
      <div class="content">

        你被顺水推舟习惯了，就觉得读高中->读大学->读个研究生->进个公司或者事业单位->升职->退休 这就是正常而成功。没错，这是一条只要稍微努点力就可以获得一个还不错的人生轨迹的路线。但是呢，人能干的事情有很多。

      </div>
    </div>
  </div>

  <div class="page-main">

    <div class="card comment-write">
      <div class="body">
        <textarea #heroName></textarea>

      </div>
      <div class="footer">
        <button type="button" (click)="add(heroName.value); heroName.value=''">新评论</button>
      </div>
    </div>

    <div class="card comment-list">
      <div *ngFor="let hero of heroes" class="comment">
        <div class="content">
          <span>{{hero.name}}</span>

        </div>
      </div>
    </div>
  </div>
</main>

