@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";
@import "@/styles/utils";

.pageBody {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 1;
}

.leftNav {
  width: toRem(180);
  border-right: #f1f1f1 solid 0.5px;
}

@include media-breakpoint-up(xl) {
  .leftNav {
    width: toRem(240);
  }
}

.rightBody {
  flex: 1;
  background: #FFFFFF;
}
