.pageBody {
    display: flex;
    flex-direction: column;
    height: 100%;

    .toolbar {
        height: 40px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0 16px;
        border-bottom: solid 1px #f1f1f1;
    }
}

.pageTable {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;

    .appCard {
        background-color: #FFFFFF;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        min-height: 160px;

        .avatarArea {
            width: 160px;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 8px;

            .avatar {
                position: relative;
                height: 100%;

                img {
                    object-fit: cover;
                    border-radius: 4px;
                }
            }
        }

        .detailArea {
            padding: 8px;

            .appTitle {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 8px;
            }

            .appDescription {
                font-size: 1.0rem;
                font-weight: 400;
                margin-bottom: 8px;
            }

            .updateTime {
                font-size: 0.8rem;
                font-weight: 400;
                color: #999999;
            }
        }
    }
}