.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 16px;
  background-color: #FFF;
  min-height: 100vh;

  .mainBox {
    width: 480px;
  }

  .signupTitle {
    font-size: 28px;
  }

  .formBox {
    margin-top: 16px;

    .fieldRow {
      margin-bottom: 32px;
    }

    .messageRow {
      margin-bottom: 32px;
      color: #F97272;
    }

    .actionRow {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
}