.channelCard {
    background-color: #FFF;
    border-radius: 4px;

    .channelHeader {
        padding: 1rem;
        border-bottom: solid 1px #e1e1e280;
    }

    .channelBody {
        padding: 1rem;

        .channelTitle {
            font-weight: 500;
        }

        .channelDescription {
            margin-top: 0.5rem;
            color: #8a919f;
            font-size: 0.9rem;
        }
    }
}