.indexPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;

  .navRow {
    flex-shrink: 0;
  }

  .layoutChildren {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logoPng {
      position: relative;
      width: 300px;
      height: 280px;
    }

    .mainImage {
      margin: 0 auto;
    }
  }

  .mainText {
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #4e4e4e;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mainTextTitle {
      font-size: 80px;
      font-weight: 600;
      color: #000;
      letter-spacing: 0.08em;
      display: none; // 暂时隐藏
    }

    .mainTextSubTitle {
      margin-top: 1rem;
    }
  }

  .productRow {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;

    .productCard {
      width: 360px;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-radius: 8px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
      background-color: #fff;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
      }

      .productImage {
        width: 100%;
        height: 160px;
        position: relative;
        margin-bottom: 1rem;
        flex-shrink: 0;

        img {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
      }

      .productName {
        font-size: 24px;
        font-weight: 600;
        color: #000;
        letter-spacing: 0.08em;
      }

      .productDesc {
        padding: 1rem;
        font-size: 16px;
        font-weight: 400;
        color: #4e4e4e;
        letter-spacing: 0.08em;
      }
    }
  }

  @media screen and (min-width: 1366px) {
    .layoutChildren {
      width: 1366px;
      margin: 0 auto;
    }
  }
}