.boxTitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}

.fieldRow {
  margin-bottom: 32px;
}

.messageRow {
  margin-bottom: 32px;
  color: #F97272;
}

.actionRow {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.tipRow a {
  color: #159AFF;
}