@import "src/styles/utils";

.indexPage {
    width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.container {
    margin-top: 2rem;
}

.list {
    padding: 0 1rem 0 1rem;
    margin: 0 auto 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
} 

.item {
    border-bottom: 1px solid #e5e6eb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 16px;
    height: 12rem;

    .itemCover {
        flex-shrink: 0;

        img {
            width: 10rem;
            height: 10rem;
            border-radius: 2px;
            object-fit: cover;
        }
    }

    .content {
        margin: 0 1rem 0 1rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: flex-start;
        align-items: flex-start;

        .title {
            flex-shrink: 0;

            .link {
                color: #000;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.6;
            }
        }

        .description {
            color: #5e5e5e;
            font-size: 14px;
            line-height: 22px;
            flex-grow: 1;
            overflow: hidden;
            white-space: break-spaces;
            text-overflow: ellipsis;
        }

        .actions {
            height: 2rem;
            flex-shrink: 0;

            .readButton {
                display: block;
                padding: 6px 10px;
                background-color: #f5f5f5;
                border-radius: 4px;
            }
        }
    }
}


.item:last-child {
    border-bottom-width: 0;
}