.notesPage {


  .directoryBar {
    width: 15rem;
    position: absolute;
    left: 0;
    height: 100%;
  }

  .notesContainer {
    position: absolute;
    left: 15rem;
    width: calc(100vw - 17.5rem);
    height: calc(100vh - 2.5rem);
    display: grid;
    grid-template-columns: 1fr 1fr;

    .notebarContainer {
      position: absolute;
      left: 0;
      width: 50%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .noteViewer {
      position: absolute;
      left: 50%;
      width: 50%;
      padding: 1rem;
      height: 100%;

      .noteTitle {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: auto;
        padding-left: 4px;
        font-size: 1.5rem;
        font-weight: bold;
        outline: none;
        line-height: 1.6;
        word-wrap: none;
      }

      .editorArea {
        height: 100%;

        .editCol {
          border-right: solid 1px #e3e3e3;
          height: 50%;

          textarea {
            border: 0;
            box-shadow: none;
            resize: none;
            outline: none !important;
            overflow-y: auto;
            height: 100%;
            width: 100%;
          }
        }

        .previewCol {
          height: 50%;
          overflow-y: scroll;
          overflow-x: hidden;
          box-sizing: border-box;

          h1 {
            font-size: 2em;
            margin: .67em 0;
          }

          h2 {
            display: block;
            font-size: 1.5em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
          }

          h3 {
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
          }

          ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
          }
        }
      }
    }
  }


}