.toolbarContainer {
  padding: 0.5rem;
  border-bottom: solid 0.5px rgba(220, 220, 220, 0.4);
}

.tableContainer {
  padding: 0.5rem;
}

.breadcrumbNav {
  padding: 8px;
  border-bottom: solid 0.5px rgba(220, 220, 220, 0.4);
  height: 40px;
}
